*{
    margin: 0;
}
/*common shared styles  */
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
    
}


/* header related style */


.header{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px; 
}


/* banner section */


.banner{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.banner-content{
    padding: 50px 40px 80px 200px; 
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800; 
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
padding: 32px 0;
}
.btn-primary{
    border-radius: 8px;
background: #E55473;
padding: 20px 43px;
border: none;
color: #FFF;
font-size: 20px;
font-weight: 700;
}
.banner-img{
padding: 50px 200px 25px 0; 
}


/* main related styles */


/* featured-flower section */


.featured-flower{
    margin-top: 178px;
   text-align: center;
}
.section-title{
    color: #272727;
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}
.section-description{

    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 300;
}


/* featured-flower content section */


.featured-flower-content{
    display: flex;
    margin: 48px 245px 128px 215px; 
    justify-content: space-between;
 } 
.featured-info{
    align-items: center;
    text-align: center; 
} 
.info-1{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
padding: 110px 78px 0px 76px;
width: 310px;
height: 428px;
margin-right: 25px;
}
.info-2{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
padding: 117px 47px 51px;
width: 370px;
height: 370px;
margin-right: 25px;
}
.info-3{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
padding: 67px 75px 0;
width: 314px;
height: 471px;
}
.info-title{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
text-decoration-line: underline;
padding-top: 32px;
}

/* .extra{
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin: 0 200px;
}
.extra-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
 

/* hot deal section */


.hot-deal{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
justify-content: space-between;
align-items: center;
padding: 80px 350px;
gap: 180px;
margin-bottom: 128px;
}
.hot-deal-content{
    text-align: center;
    align-items: center;
}
.hot-deal-title{
    color: #272727;
font-size: 40px;
font-weight: 700;
}
.off-color{
    color: #E55473;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 300;
    padding: 24px 0 32px;
}


/* instagram section */


.instagram{
    margin: 0 610px;
    align-items: center;
}
.instagram-content{
    text-align: center;
}
.instagram-title{
    color: #272727;
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 300;
margin-bottom: 48px;
}


/* img exhibition section */


.instagram-img{
     margin: 0 200px 128px;  
}
#img-1{
    margin-right: 20px;
}
#img-2{
    margin-right: 20px;
}
#img-3{
    margin-right: 20px;
}

/*subscription section  */

.subscribe{
    background-image: url('../image/Rectangle\ 9.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    margin:0 200px 128px;
    padding: 121px 287px;  
    text-align: center;
}
.subscribe-title{
    color: #272727;
font-size: 40px;
font-weight: 700;
margin-bottom: 16px;
}
.subscribe-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 300;
margin-bottom: 48px;
}
.input-field{
    border-radius: 8px;
background: #FFF;
border: none;
color: rgba(39, 39, 39, 0.60);
font-size: 16px;
font-weight: 200;
width: 50%;
padding: 23px 200px 20px 20px;
margin-right: 16px;
}


/* footer related styles */

.shop{
    background: #111010;
    text-align: center;
    padding: 128px 610px;
}
.shop-title{
    color: #E55473;
font-size: 48px;
font-weight: 700;
padding-bottom: 24px;
}
.shop-decoration{
    color: #FFF;
font-size: 48px;
font-weight: 800;
}
.shop-description{
    color: rgba(255, 255, 255, 0.90);
font-size: 18px;
font-weight: 300;
padding-bottom: 32px;
}
.shop-info{
    color: rgba(255, 255, 255, 0.40);
font-family: Lato;
font-size: 16px;
font-weight: 200;
}

